version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres_map
    restart: always
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: biofert_test_restore
    ports:
      - "5434:5432"
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network

  backend:
    build: .
    container_name: backend
    restart: always
    depends_on:
      - postgres
      - redis
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: "postgresql://docker:docker@postgres:5432/biofert_test_restore?schema=public"
      REDIS_URL: "redis://redis:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
